
body{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    background-color: #f6f7f8;
}

section{
    margin-top: 90px;
    margin-left: 280px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

:root {
    --primaryTextColor: #000000ef;
    --secondaryTextColor: #000000c6;
    --borderInputColor: #00000020;
    --labelColor: #0000006d;
    --borderRadius: .7rem;
    --mainButtonColor: #5765F3;
    --secondaryButtonColor: #5765F3;
    --boxShadow: 1px 1px 4px var(--borderInputColor);
}

h2, p, h3, h5{
    margin: 0;
}

p{
    font-size: 14px;
    color: var(--primaryTextColor);
}

h1{
    font-weight: 600;
    margin: 0;
    font-size: 24px;
    color: var(--secondaryTextColor);
}

h2{
    font-weight: 600;
    font-size: 26px;
    color: var(--secondaryTextColor);
}

h3{
    font-weight: 700;
    color: var(--secondaryTextColor);
}

h5{
    font-weight: 700;
    font-size: 16px;
    color: var(--primaryTextColor);
}

label{
    font-size: 14px;
    font-weight: 500;
    color: var(--secondaryTextColor);
}

button{
    border: none;
    border-radius: 5px;
    color: #FFFF;
    font-size: 14px;
    background-color: var(--mainButtonColor);
}

.filter{
    display: flex;
    gap: .2rem;
    align-items: center;
    background-color: #FFFFFF;
    padding: 6px;
    border-radius: 8px;
    box-shadow: var(--boxShadow);
}

.input{
    display: flex;
    gap: 2rem;
    align-items: center;
    background-color: #0000000a;
    padding: 4px 14px;
    border-radius: 18px;
    border: 1px solid var(--borderInputColor);

    & > input[type="text"], 
        input[type="date"],
        input[type="number"],
        input[type="email"]{
            background-color: transparent;
    }
}

input{
    border: none;
    outline: none;
    font-size: .8rem;
}

hr{
    border-top: 1px solid #00000006;
    width: 100%;
}

select{
    border: none;
    outline: none;
    padding: 0px 10px;
}

.tblContainer{
    padding: 22px;
    text-align:left;
    width: 85%;
    background-color: #FFFFFF;
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    margin-top: 1rem;

    td, th, tr{
        padding: 12px;
        font-size: 15px;
        font-weight: 500;
    }

    td{
        color: #48505e;
    }

    th{
        color: #667085;
        font-weight: 600;
    }
    
    tr{
        border-bottom: 1px solid #00000014;
        align-items: center;
    }

    table{
        width: 100%;
        margin-top: 25px;
        border-collapse: collapse;
    }

    .tdCourse{
        width: 20%;
    }
    .tdDepartment{
        width: 15%;
    }
    .tdDescription{
        width: 35%;
    }
    .tdActions{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        width: 15%;
    }
}

.container{
    display: flex;
    flex-wrap: nowrap;
    width: 90%; max-width: 1200px;
    flex-direction: row;
    gap: 1rem;
}

.containerBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.content-header{
    margin-bottom: 1rem;
}

.main-container-progressBar{
    margin-bottom: 10px;
}

.overview-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    padding: .8rem;
    border-radius: 8px;
    background-color: #FFFF;
    margin-bottom: 2rem;
    box-shadow: var(--boxShadow);
}

.progressBar{
    width: 92%;
    height: 14px;
    background-color: #DFDFDF;
    border-radius: 20px;

    & > .gapBar{
        width: 80%;
        height: inherit;
        border-radius: inherit;
        background-color: #5765F3;
    }
}

.txt-line{
    display: flex;
    width: 90%;
    position: relative;
}

.txt-line::after{
   content: "";
    position: absolute;
    top: 14px;
    left: 210px;
    width: 85%;
    height: 2px;
    background-color: #00000056;
}

.arrowBtn{
    padding: 10px;
    display: flex;
    border-radius: 25px;
    transition: 0.2s;
}

.arrowBtn:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 3px var(--secondaryTextColor);
    background-color: #FFFF;
}

.modal{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.089);
}

.modal-form{
    background-color: white;
    width: 50%;
    height: 500px;
}

@media only screen and (max-width: 850px) {
    section{
        margin-left: 0px;
    }  
}
